<% include partials/navbar %>

<div ng-controller="sanPhamYeuThich">
	<label>Danh sách sản phẩm yêu thích</label>
	<!-- <input ng-model="khachHang.username"></input> -->
	<label>{{sanPhamYeuThich}}</label>
	
</div>

<% include partials/footer %>