
<% include partials/navbar %>

	<!-- //header -->
	<!-- products -->
	<div class="products" ng-controller="sanPham">
		<div class="container">
			<div class="col-md-9 product-w3ls-right">
				<!-- breadcrumbs -->
				<ol class="breadcrumb breadcrumb1">
					<li><a href="/">Home</a></li>
					<li class="active">Products</li>
				</ol>
				<div class="clearfix"> </div>
				<!-- //breadcrumbs -->
				<div class="product-top">
					<h4>{{sanPhams[0].category.name}}</h4>
					<div class="clearfix"> </div>
				</div>
				<div class="products-row">
					<div class="col-md-3 product-grids" ng-repeat="sanPham in sanPhams">
						<div class="agile-products">
							<div class="new-tag"><h6>20%<br>Off</h6></div>

							<a href="/single/{{sanPham.id}}/{{sanPham.store.id}}"><img src="{{sanPham.imageLink}}" class="img-responsive" alt="img"></a>

							<div class="agile-product-text">
								<h5><a href="/single/{{sanPham.id}}/{{sanPham.store.id}}">{{sanPham.name}}</a></h5>
								<h6>{{sanPham.store.name}}</h6>
								<h6><del>$200</del> {{sanPham.price}}</h6>
								<form >
									<!-- <input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" />
									<input type="hidden" name="w3ls_item" value={{sanPham.name}}/>
									<input type="hidden" name="amount" value={{sanPham.price}} /> -->
									<button ng-click="themVaoGioHang(sanPham.id,sanPham.store.id, sanPham.name, sanPham.price)" class="w3ls-cart" ><i class="fa fa-cart-plus" aria-hidden="true"></i> Thêm vào giỏ hàng</button>
								</form>
							</div>
							<!-- {{sanPhams}} -->
						</div>
					</div>

					<div class="clearfix"> </div>
				</div>
				<!-- add-products -->
				<div class="w3ls-add-grids w3agile-add-products">
					<a href="#">
						<h4>TOP 10 TRENDS FOR YOU FLAT <span>20%</span> OFF</h4>
						<h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
					</a>
				</div>
				<!-- //add-products -->
			</div>
			<div class="col-md-3 rsidebar">
				<div class="rsidebar-top">
					<div class="slider-left">
						<h4>Giá</h4>
						<div class="row row1 scroll-pane">
							<label class="checkbox"><input type="checkbox" name="checkbox" ng-model="value1" ng-click="filterByPrice( 1, value1)" type="checkbox" name="checkbox"><i></i>Thấp</label>
							<label class="checkbox"><input type="checkbox" name="checkbox" ng-model="value2" ng-click="filterByPrice( 2, value2)" type="checkbox" name="checkbox"><i></i>Trung bình </label>
							<label class="checkbox"><input type="checkbox" name="checkbox" ng-model="value3" ng-click="filterByPrice( 3, value3)" type="checkbox" name="checkbox"><i></i>Cao  </label>
						</div>
					</div>
					
					<div class="sidebar-row">
						<h4>Nhà sản xuất</h4>
						<div class="" ng-repeat="nsx in nhaSanXuat">
							<label class="checkbox"><input type="checkbox" name="checkbox" ng-model="isClick[$index]" ng-click="filterByBrand( nsx, isClick, $index)" checked=""><i></i>{{nsx}}</label>
						</div>
					</div>
				</div>
				
			</div>
			<div class="clearfix"> </div>
			<!-- recommendations -->
			<!-- <div class="recommend">
				<h3 class="w3ls-title">Our Recommendations </h3>
				<script>
					$(document).ready(function() {
						$("#owl-demo5").owlCarousel({

						  autoPlay: 3000, //Set AutoPlay to 3 seconds

						  items :4,
						  itemsDesktop : [640,5],
						  itemsDesktopSmall : [414,4],
						  navigation : true

						});

					});
				</script>
				<div id="owl-demo5" class="owl-carousel">
					<div class="item">
						<div class="glry-w3agile-grids agileits">
							<div class="new-tag"><h6>20% <br> Off</h6></div>
							<a href="products1.html"><img src="/images/f2.png" alt="img"></a>
							<div class="view-caption agileits-w3layouts">
								<h4><a href="products1.html">Women Sandal</a></h4>
								<p>Lorem ipsum dolor sit amet consectetur</p>
								<h5>$20</h5>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" />
									<input type="hidden" name="w3ls_item" value="Women Sandal" />
									<input type="hidden" name="amount" value="20.00" />
									<button type="submit" class="w3ls-cart" ><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
								</form>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="glry-w3agile-grids agileits">
							<a href="products.html"><img src="/images/e4.png" alt="img"></a>
							<div class="view-caption agileits-w3layouts">
								<h4><a href="products.html">Digital Camera</a></h4>
								<p>Lorem ipsum dolor sit amet consectetur</p>
								<h5>$80</h5>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" />
									<input type="hidden" name="w3ls_item" value="Digital Camera"/>
									<input type="hidden" name="amount" value="100.00" />
									<button type="submit" class="w3ls-cart" ><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
								</form>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="glry-w3agile-grids agileits">
							<div class="new-tag"><h6>New</h6></div>
							<a href="products4.html"><img src="/images/s1.png" alt="img"></a>
							<div class="view-caption agileits-w3layouts">
								<h4><a href="products4.html">Roller Skates</a></h4>
								<p>Lorem ipsum dolor sit amet consectetur</p>
								<h5>$180</h5>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" />
									<input type="hidden" name="w3ls_item" value="Roller Skates"/>
									<input type="hidden" name="amount" value="180.00" />
									<button type="submit" class="w3ls-cart" ><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
								</form>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="glry-w3agile-grids agileits">
							<a href="products1.html"><img src="/images/f1.png" alt="img"></a>
							<div class="view-caption agileits-w3layouts">
								<h4><a href="products1.html">T Shirt</a></h4>
								<p>Lorem ipsum dolor sit amet consectetur</p>
								<h5>$10</h5>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" />
									<input type="hidden" name="w3ls_item" value="T Shirt" />
									<input type="hidden" name="amount" value="10.00" />
									<button type="submit" class="w3ls-cart" ><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
								</form>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="glry-w3agile-grids agileits">
							<div class="new-tag"><h6>New</h6></div>
							<a href="products6.html"><img src="/images/p1.png" alt="img"></a>
							<div class="view-caption agileits-w3layouts">
								<h4><a href="products6.html">Coffee Mug</a></h4>
								<p>Lorem ipsum dolor sit amet consectetur</p>
								<h5>$14</h5>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" />
									<input type="hidden" name="w3ls_item" value="Coffee Mug" />
									<input type="hidden" name="amount" value="14.00" />
									<button type="submit" class="w3ls-cart" ><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
								</form>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="glry-w3agile-grids agileits">
							<div class="new-tag"><h6>20% <br> Off</h6></div>
							<a href="products6.html"><img src="/images/p2.png" alt="img"></a>
							<div class="view-caption agileits-w3layouts">
								<h4><a href="products6.html">Teddy bear</a></h4>
								<p>Lorem ipsum dolor sit amet consectetur</p>
								<h5>$20</h5>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" />
									<input type="hidden" name="w3ls_item" value="Teddy bear" />
									<input type="hidden" name="amount" value="20.00" />
									<button type="submit" class="w3ls-cart" ><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
								</form>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="glry-w3agile-grids agileits">
							<a href="products4.html"><img src="/images/s2.png" alt="img"></a>
							<div class="view-caption agileits-w3layouts">
								<h4><a href="products4.html">Football</a></h4>
								<p>Lorem ipsum dolor sit amet consectetur</p>
								<h5>$70</h5>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" />
									<input type="hidden" name="w3ls_item" value="Football"/>
									<input type="hidden" name="amount" value="70.00"/>
									<button type="submit" class="w3ls-cart" ><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
								</form>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="glry-w3agile-grids agileits">
							<div class="new-tag"><h6>Sale</h6></div>
							<a href="products3.html"><img src="/images/h1.png" alt="img"></a>
							<div class="view-caption agileits-w3layouts">
								<h4><a href="products3.html">Wall Clock</a></h4>
								<p>Lorem ipsum dolor sit amet consectetur</p>
								<h5>$80</h5>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" />
									<input type="hidden" name="w3ls_item" value="Wall Clock" />
									<input type="hidden" name="amount" value="80.00" />
									<button type="submit" class="w3ls-cart" ><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div> -->
			<!-- //recommendations -->
		</div>
	</div>
	<!--//products-->
	<!-- footer-top -->
	<% include partials/footer %>