
<% include partials/navbar %>
	<!-- //header -->
	<!-- breadcrumbs -->
	<div class="container">
		<ol class="breadcrumb breadcrumb1">
			<li><a href="/">Home</a></li>
			<li class="active">Single Page</li>
		</ol>
		<div class="clearfix"> </div>
	</div>
	<!-- //breadcrumbs -->
	<!-- products -->
	<div class="products" ng-controller="singleProduct">
		<div class="container">
			<div class="single-page">
				<div class="single-page-row" id="detail-21">
					<div class="col-md-6 single-top-left">
						<div class="flexslider">
							<ul class="slides">
								<!-- <li data-thumb={{sanPham.imageLink}}> -->
									<div class="thumb-image detail_images"> <img src={{sanPham.imageLink}} data-imagezoom="true" class="img-responsive" alt=""> </div>
								<!-- </li> -->
								<!-- <li data-thumb={{sanPham.imageLink}}>
									 <div class="thumb-image"> <img src={{sanPham.imageLink}} data-imagezoom="true" class="img-responsive" alt=""> </div>
								</li>
								<li data-thumb={{sanPham.imageLink}}>
								   <div class="thumb-image"> <img src={{sanPham.imageLink}} data-imagezoom="true" class="img-responsive" alt=""> </div>
								</li> -->
								<a style="float: right;margin-top:180px;font-size: 20px" ng-hide="show" ng-click="showItem()">So sánh với >>>></a>
								<div class="row">
									<input class="col-xs-9" type="text" style="margin-top:180px;" name="review" ng-model="sanPhamDuocSoSanh"  ng-show="show" id="input-review">
									<a href='/sosanh/{{sanPham.id}}/{{sanPham.store.id}}/{{sanPhamDuocSoSanh}}'><label style="float: right;margin-top:180px;font-size: 20px;" ng-show="show" >So sánh</label></a>
								</div>
								<!-- ng-click="soSanhSanPham(sanPham.id, sanPham.store.id, tenSanPhamDuocSoSanh)" -->
							</ul>
						</div>
					</div>
					<!-- {{sanPham}} -->
					<div class="col-md-6 single-top-right">
						<h3 class="item_name">{{sanPham.name}}</h3>
						<p>(Mock)Processing Time: Item will be shipped out within 2-3 working days. </p>
						<div class="single-rating">
							<ul>
								<li class="star star1"><i ng-click="danhGia(1)" class="fa fa-star-o" aria-hidden="true"></i></li>
								<li class="star star2"><i ng-click="danhGia(2)" class="fa fa-star-o" aria-hidden="true"></i></li>
								<li class="star star3"><i ng-click="danhGia(3)" class="fa fa-star-o" aria-hidden="true"></i></li>
								<li class="star star4"><i ng-click="danhGia(4)" class="fa fa-star-o" aria-hidden="true"></i></li>
								<li class="star star5"><i ng-click="danhGia(5)" class="fa fa-star-o" aria-hidden="true"></i></li>
								<li class="rating">(Mock)20 reviews</li>
							</ul>
							<div class="row" style="margin: 0">
								<textarea ng-model="userReview" id="input-review" name="review" cols="30" rows="5" class="col-xs-8"></textarea>
								<a class="col-xs-8 text-center" style="font-size: 20px;" ng-click="guiPhanHoiSanPham(userReview,sanPham.id,sanPham.store.id)">Add your review</a>
							</div>
						</div>
						<div class="single-price">
							<ul>
								<li>${{sanPham.price}}</li>
								<li><del>(Mock)$600</del></li>
								<li><span class="w3off">(Mock)10% OFF</span></li>
								<li>(Mock)Ends on: June,5th</li>
								<li><a href="#"><i class="fa fa-gift" aria-hidden="true"></i> Coupon</a></li>
							</ul>
						</div>
						<p class="single-price-text">(Mock)Fusce a egestas nibh, eget ornare erat. Proin placerat, urna et consequat efficitur, sem odio blandit enim, sit amet euismod turpis est mattis lectus. Vestibulum maximus quam et quam egestas imperdiet. In dignissim auctor viverra.</p>
						<form >
							<!-- <input type="hidden" name="cmd" value="_cart" />
							<input type="hidden" name="add" value="1" />
							<input type="hidden" name="w3ls_item" value={{sanPham.name}}/>
							<input type="hidden" name="amount" value={{sanPham.price}} /> -->
							<button ng-click="onClickAddToCart(sanPham.id,sanPham.store.id, sanPham.name, sanPham.price)" class="w3ls-cart" ><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
						</form>
						<button class="w3ls-cart w3ls-cart-like" ng-click="addToWishlist(sanPham)"><i class="fa fa-heart-o" aria-hidden="true"></i> Add to Wishlist</button>
					</div>
				   <div class="clearfix"> </div>
				</div>
				<div class="single-page-icons social-icons">
					<ul>
						<li><h4>Share on</h4></li>
						<li><a href="#" class="fa fa-facebook icon facebook"> </a></li>
						<li><a href="#" class="fa fa-twitter icon twitter"> </a></li>
						<li><a href="#" class="fa fa-google-plus icon googleplus"> </a></li>
						<li><a href="#" class="fa fa-dribbble icon dribbble"> </a></li>
						<li><a href="#" class="fa fa-rss icon rss"> </a></li>
					</ul>
				</div>
			</div>
			<!-- recommendations -->
			<div class="recommend">
				(Mock)
				<h3 class="w3ls-title">Có thể bạn quan tâm... </h3>
				<script>
					$(document).ready(function() {
						$("#owl-demo5").owlCarousel({

						  autoPlay: 3000, //Set AutoPlay to 3 seconds

						  items :4,
						  itemsDesktop : [640,5],
						  itemsDesktopSmall : [414,4],
						  navigation : true

						});

					});
				</script>
				<div id="owl-demo5" class="owl-carousel">
					<div class="item" >

						<div class="glry-w3agile-grids agileits">
							<div class="new-tag"><h6>20% <br> Off</h6></div>
							<a href="/single/{{sanPhamLienQuan[0].id}}/{{sanPhamLienQuan[0].store.id}}">
								<img src={{sanPhamLienQuan[0].imageLink}} alt="img">
							</a>
							<div class="view-caption agileits-w3layouts">
								<h4><a href="products1.html">{{sanPhamLienQuan[0].brand.name}}</a></h4>
								<p>{{sanPhamLienQuan[0].name}}</p>
								<h5>{{sanPhamLienQuan[0].price}}</h5>
								<form>

									<button type="submit" class="w3ls-cart" ng-click="onClickAddToCart(sanPhamLienQuan[0].id, sanPhamLienQuan[0].store.id, sanPhamLienQuan[0].name, sanPhamLienQuan[0].price)">
									<i class="fa fa-cart-plus"  aria-hidden="true"></i> Add to cart</button>
								</form>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="glry-w3agile-grids agileits">
							<div class="new-tag"><h6>20% <br> Off</h6></div>
							<a href="/single/{{sanPhamLienQuan[1].id}}/{{sanPhamLienQuan[1].store.id}}">
								<img src= {{sanPhamLienQuan[1].imageLink}} alt="img">
							</a>
							<div class="view-caption agileits-w3layouts">
								<h4><a href="product">{{sanPhamLienQuan[1].brand.name}}</a></h4>
								<p>{{sanPhamLienQuan[1].name}}</p>
								<h5>{{sanPhamLienQuan[1].price}}</h5>
								<form >

									<button type="submit" class="w3ls-cart" ng-click="onClickAddToCart( sanPhamLienQuan[1].id, sanPhamLienQuan[1].store.id, sanPhamLienQuan[1].name, sanPhamLienQuan[1].price)" >
									<i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //recommendations -->
			<!-- collapse-tabs -->
			<div class="collpse tabs">
				<h3 class="w3ls-title">About this item</h3>
				<div class="panel-group collpse" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									<i class="fa fa-file-text-o fa-icon" aria-hidden="true"></i> Description <span class="fa fa-angle-down fa-arrow" aria-hidden="true"></span> <i class="fa fa-angle-up fa-arrow" aria-hidden="true"></i>
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<ul>
									<li ng-repeat="info in sanPham.description">
										{{info}}
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<i class="fa fa-info-circle fa-icon" aria-hidden="true"></i> additional information <span class="fa fa-angle-down fa-arrow" aria-hidden="true"></span> <i class="fa fa-angle-up fa-arrow" aria-hidden="true"></i>
								</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								(Mock)Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title">
								<a class="collapsed pa_italic" ng-click="getReviews(sanPham.id, sanPham.store.id)" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									<i class="fa fa-check-square-o fa-icon" aria-hidden="true"></i> reviews (5) <span class="fa fa-angle-down fa-arrow" aria-hidden="true"></span> <i class="fa fa-angle-up fa-arrow" aria-hidden="true"></i>
								</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								(Mock)Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingFour">
							<h4 class="panel-title">
								<a class="collapsed pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
									<i class="fa fa-question-circle fa-icon" aria-hidden="true"></i> help <span class="fa fa-angle-down fa-arrow" aria-hidden="true"></span> <i class="fa fa-angle-up fa-arrow" aria-hidden="true"></i>
								</a>
							</h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
							<div class="panel-body">
								(Mock)Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //collapse -->
			<!-- offers-cards -->
			<div class="w3single-offers offer-bottom">
				<div class="col-md-6 offer-bottom-grids">
					<div class="offer-bottom-grids-info2">
						<h4>Special Gift Cards</h4>
						<h6>More brands, more ways to shop. <br> Check out these ideal gifts!</h6>
					</div>
				</div>
				<div class="col-md-6 offer-bottom-grids">
					<div class="offer-bottom-grids-info">
						<h4>Flat $10 Discount</h4>
						<h6>The best Shopping Offer <br> On Fashion Store</h6>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- //offers-cards -->
		</div>
	</div>
	<!--//products-->
	<!-- footer-top -->
	<% include partials/footer %>
