
<% include partials/navbar %>

	<div class="confirm_page" ng-controller= "gioHang">
		<form>
			<div class="row">
				<p class="col-xs-5 bold">Tên người nhận: </p>
				<input type="text" ng-model="tenNguoiNhan">
			</div>
			<div class="row">
				<p class="col-xs-5 bold">Nơi nhận: </p>
				<input type="text" ng-model="noiNhan">
			</div>
			<div class="row">
				<p class="col-xs-5 bold">Số điện thoại người nhận: </p>
				<input type="text" ng-model="sdtNguoiNhan">
			</div>
			<div>
				<br>
				<p class="bold">Danh sách các mặt hàng đặt mua: </p>
				<hr>
				<ul ng-repeat="sp in gioHang">
					<li>
						<p>Tên sản phẩm: {{sp.name}}</p>
						<p>Giá tiền: {{sp.price}}</p>
						<p>Số lượng: {{sp.number}}</p>
						<hr>
					</li>
				</ul>
				<div class="tongGioHang"><p class="bold">Tổng tiền: {{tong}}</p></div>
				<div class="text-center">
					<a href="/xacNhanDatHang"><button class="btn-primary" ng-click="datHang(tenNguoiNhan,noiNhan,sdtNguoiNhan)" >Đặt hàng</button></a>
				</div>
			</div>
		</form>
	</div>

	<% include partials/footer %>