<% include partials/navbar %>

<div ng-controller="trangCaNhan">
	<label>Lich su mua hang:</label>
	<!-- <input ng-model="khachHang.username"></input> -->
	<label>{{lichsu}}</label>
	
</div>

<% include partials/footer %>