<% extend('../layout/master') %>
<div ng-controller="account">
    <form>
        <input type="text" placeholder="username" ng-model="account.username">
        <input type="text" placeholder="password" ng-model="account.password">
        <input type="number" placeholder="phone" ng-model="account.phone">
        <input type="text" placeholder="address" ng-model="account.address">
        <input type="text" placeholder="nameStore" ng-model="store.name">
        <button ng-click="createAccountStore()">Create</button>
    </form>
</div>