<!DOCTYPE html>
<html lang="en">

<head>
    <title>nghia</title>
    <script src="/js/angular.min.js"></script>
    <script src="/scripts/admin.js"></script>

</head>

<body ng-app="admin">
	<div ng-controller="account">
        <form>
            <input type="text" placeholder="username" name="username" ng-model="username">
            <input type="password" placeholder="password" name="password" ng-model="password">
            <button ng-click="Login()" >Submit</button>
        </form>
    </div>
</body>

</html>