<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/admin-login.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <script src="/js/angular.min.js"></script>
    <script src="/scripts/admin.controller.client.js"></script>

</head>

<body ng-app="admin" ng-controller="account">
    <form class="login-form">
        <p class="login-text">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-lock fa-stack-1x"></i>
        </span>
        </p>
        <input type="email" class="login-username" autofocus="true" required="true" placeholder="username" name="username" ng-model="username"/>
        <input type="password" class="login-password" required="true" placeholder="password" name="password" ng-model="password"/>
        <input type="submit" name="Login" value="Login" class="login-submit" ng-click="Login()" />
    </form>
    
    <div class="underlay-photo"></div>
    <div class="underlay-black"></div>

</body>

</html>