<!DOCTYPE html>
<html lang="en">

<head>
    <title>nghia</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="scripts/admin.js"></script>

</head>

<body>
    <input type="text" placeholder="user">
    <button ng-click="$scope.alert()">submit</button>
</body>

</html>