<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Bootstrap Admin Template : Dream</title>
    <!-- Bootstrap Styles-->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/css/admin-custom.css" rel="stylesheet" />
    <link href="/css/admin.css" rel="stylesheet" />

    <script src="/js/angular.min.js"></script>

    <script src="/scripts/admin.controller.client.js"></script>
</head>
<body ng-app="admin">
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Dream</a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
                <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a href="#"><i class="fa fa-desktop"></i> Quan ly dang ky ban hang</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> Quan ly loai san pham</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> Quan ly san pham</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> Quan ly don hang</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> Thong ke mua ban</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> Quan ly su kien</a>
                    </li>
                </ul>

            </div>

        </nav>
         <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <%- content %>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>

    <script src="/js/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap Js -->
    <script src="/js/bootstrap.js"></script>

    <!-- Metis Menu Js -->
    <script src="/js/jquery.metisMenu.js"></script>
    <script src="/js/admin-custom.js"></script>
</body>
</html>