<% extend('../layout/master') %>

    <div ng-app="admin">
        <div class="admin-category" ng-controller="manage_categories">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Categories
                        </h1>
                    </div>
                </div>
                <!-- /. ROW  -->

                <div class="row">
                    <div class="col-md-12">
                        <!-- Advanced Tables -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Categories
                            </div>
                            <div>
                                <div>
                                    <input type="text" placeholder="Name new category" ng-model="nameCategory" class="new-category">
                                    <button class="btn-info" ng-click="createCategory()">Create New Category</button>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th class="text-center">ID</th>
                                                <th class="text-center">Category</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="gradeU" ng-repeat="x in listCate">
                                                <td class="text-center">{{x.idCategory}}</td>
                                                <td class="text-center">
                                                    <span ng-hide="x.edit" ng-dblclick="edit(x)">{{x.name}}</span>
                                                    <input type="text" ng-model="x.name" ng-show="x.edit" ng-keypress="($event.which === 13)?save(x):0">
                                                </td>
                                                <td class="text-center">
                                                    <button class="btn-primary" ng-click="save(x)" ng-show="x.edit">Save</button>
                                                    <button class="btn-default" ng-click="edit(x)" ng-hide="x.edit">Edit</button>
                                                    <button class="btn-danger" ng-click="delete(x.idCategory)">Delete</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>