<% extend('../layout/master') %>
<div ng-app="admin">

    <div ng-controller="manage_Product">
        <form ng-init="initProductID()">
            <input type="text" placeholder="name" ng-model="data.name">
            <input type="text" placeholder="code" ng-model="data.code">
            <input type="text" placeholder="description" ng-model="data.description">
            <input type="text" placeholder="accessories" ng-model="data.accessories">
            <input type="text" placeholder="sub_Category_idSub_Category" ng-model="data.sub_Category_idSub_Category">
            <input type="text" placeholder="product_assuarance_policy" ng-model="data.product_assuarance_policy">
            <input type="text" placeholder="month_assuarance" ng-model="data.month_assuarance">
            <input type="text" placeholder="brand_idbrand" ng-model="data.brand_idbrand">
            <button ng-click="createOrUpdateProduct()">Create Or Update</button>
        </form>
    </div>
</div>